:root {
  --bg-header: #fff;
  --color-links: #111517;
  --icon-mode-btn: url('../../assets/images/mode-icon.svg');
}

.dark {
  --bg-header: #2b3844;
  --color-links: #fff;
  --icon-mode-btn: url('../../assets/images/mode-dark-icon.svg');
}

.site-header {
  padding: 24px 0;
  background-color: var(--bg-header);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-links);

  &:hover {
    color: var(--color-links);
  }
}

.mode-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background-color: transparent;
  color: var(--color-links);
  border: 0;
  cursor: pointer;
}

.mode-btn::before {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: var(--icon-mode-btn);
  content: '';
}

@media only screen and (max-width: 540px) {
  .site-header {
    padding: 20px 0;
  }

  .logo {
    font-size: 18px;
    line-height: 25px;
  }
}
